<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Home">
        <activity android:name="com.example.user_authentication.BluetoothAccess"></activity>
        <activity android:name="com.example.user_authentication.LocationAccess" />
        <activity android:name="com.example.user_authentication.NotificationAccess" />
        <activity android:name="com.example.user_authentication.ResetPassword" />
        <activity android:name="com.example.user_authentication.RecoverCode" />
        <activity android:name="com.example.user_authentication.ForgetPassword" />
        <activity android:name="com.example.user_authentication.VerifyAccount" />
        <activity android:name="com.example.user_authentication.Login" />
        <activity android:name="com.example.user_authentication.SignUp" />
        <activity android:name="com.example.user_authentication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>